{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container mt-5">
    <!-- Title Section -->
    <div class="row justify-content-center mb-5">
        <h1>To-Do App</h1>
    </div>
    <!-- Add Task Section -->
    <div class="row justify-content-center">
        <div class="col-md-6"> <!-- Controlled width by setting it to 6/12 of the container -->
            <form method="post" action="/add-task" class="mb-4">
                <div class="form-group">
                    <label for="task">Task</label>
                    <input type="text" class="form-control" id="task" name="task">
                    <label for="dueDateTime">Due Date and Time</label>
                    <input type="datetime-local" class="form-control" id="dueDateTime" name="dueDateTime">
                </div>
                <button type="submit" class="btn btn-primary">Add Task</button>
            </form>
        </div>
    </div>
    
    <!-- Task Listing Section -->
    <div class="container mt-4">
        {% for task in tasks %}
        <div class="card mb-3 shadow-sm">
            <!-- Card Body: Contains the task details and actions -->
            <div class="card-body">
                <!-- Task Details (Checkbox and Task Name) -->
                <div class="d-flex align-items-center">
                    <!-- Checkbox Form -->
                    <form action="/complete-task/{{ task.id }}" method="post" class="mr-3">
                        <input type="checkbox" {% if task.completed %}checked{% endif %} onchange="this.form.submit();" class="mr-2">
                    </form>
                    <!-- Task Name and Due Date -->
                    <div>
                        <span class="h6 {% if task.completed %}text-muted{% endif %}" style="{% if task.completed %}text-decoration:line-through;{% endif %}">{{ task.name }}</span><br>
                        <small class="text-muted">{% if task.due_date %}<i class="fas fa-clock"></i> Due: {{ task.due_date.strftime('%Y-%m-%d %H:%M') }}{% endif %}</small>
                    </div>
                </div>
                
                <!-- Delete Button on the Right -->
                <form action="/delete-task/{{ task.id }}" method="post" class="float-right mt-2 mt-md-0">
                    <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>









</div>
{% endblock %}